*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 4rem;
}
.clock {
  max-width: 300px;
  max-height: 300px;
  width: 50vw;
  height: 50vw;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 10px rgb(209, 74, 239);
  background-image: url(clock.png);
  background-size: cover;
  background-position: center;
}
.clock::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid dodgerblue;
  background-color: #042039;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hour,
.minute,
.seconds {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(11, 7, 2);
}
.hour {
  width: 5px;
  height: 25%;
  background-color: rgb(255, 47, 0);
}
.minute {
  width: 3.5px;
  height: 30%;
  background-color: rgb(0, 106, 255);
}
.seconds {
  width: 2px;
  height: 35%;
  background-color: rgb(128, 0, 79);
}
.digital-clock {
  /* color: crimson; */
  font-size: 3rem;
  position: absolute;
  bottom: -7rem;
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 2px #0676d8;
  transform: translateX(-50%);
  border: dotted 2px hsl(18, 88%, 49%);
  padding: 0.5rem;
  border-radius: 1rem;
  text-shadow: 1px 2px 5px #7d06d8, -2px -2px 40px rgb(163, 19, 108);
}
